backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
blinker==1.4
chardet==2.3.0
colorama==0.3.2
configparser==3.5.0
cryptography==0.6.1
decorator==4.0.10
docutils==0.13.1
ecdsa==0.13
entrypoints==0.2.2
enum34==1.1.6
Fabric==1.12.0
feedgenerator==1.9
functools32==3.2.3.post2
html5lib==0.999
ipython==5.1.0
ipython-genutils==0.1.0
Jinja2==2.9.5
jsonschema==2.5.1
jupyter-core==4.2.0
Markdown==2.6.7
MarkupSafe==0.23
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.1.0
ndg-httpsclient==0.3.2
paramiko==1.17.2
pathlib2==2.1.0
pelican==3.7.1
pexpect==4.2.1
pickleshare==0.7.4
ply==3.4
prompt-toolkit==1.0.9
ptyprocess==0.5.1
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
Pygments==2.2.0
pyOpenSSL==0.14
python-dateutil==2.6.0
python-gettext==3.0
pytz==2016.10
requests==2.4.3
simplegeneric==0.8.1
six==1.10.0
smartypants==1.8.6
traitlets==4.3.1
typogrify==2.0.7
Unidecode==0.4.20
urllib3==1.9.1
wcwidth==0.1.7
